# macOS
.DS_Store

# Node
node_modules/

# Logs
*.log

# Environment
.env

# VS Code
.vscode/

# Electron Build
dist/
release/
out/

# Temporary Files
*.tmp

google-credentials.json

google-token.json

.env