/* ==========================================
   ACTIVITY TABLE
========================================== */

#activityTable{

    width:100%;

    border-collapse:collapse;

}

#activityTable th{

    padding:18px;

    font-size:20px;

    font-weight:700;

}

#activityTable td{

    padding:18px;

    font-size:18px;

    text-align:center;

    border-bottom:1px solid #eee;

}

#activityTable td:nth-child(3),

#activityTable td:nth-child(4){

    text-align:left;

}

#activityTable tbody tr:nth-child(even){

    background:#f8f8f8;

}

#activityTable tbody tr:hover{

    background:#e8f2ff;

}

#activitySearch{

    width:550px;

    height:65px;

    padding:0 20px;

    margin-bottom:25px;

    font-size:24px;

    font-weight:600;

    border:2px solid #8b0035;

    border-radius:12px;

    outline:none;

}

#activitySearch:focus{

    box-shadow:0 0 10px rgba(122,0,44,.25);

}

.activity-actions{

    display:flex;

    justify-content:center;

    margin-top:30px;

}

#exportActivityBtn{

    width:260px;

}